/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 80px;
	font-size: 36px;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	background-color: #fff;
}

/* #header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
} */

/* #header h1 {
	font-size: 32px;
}

.welcome {
	font-size: 14px;
	color: red;
}

p {
    margin-bottom: 32px;
	font-size: 12px;
    font-family: serif;
    font-weight: bold;
	color: blue;
    line-height: 12px;
} */

/* a {
	text-decoration: underline;
	color: lime;
    transition: color 0.3s;
}

a:hover{
    color:red;
}

span {
	text-transform: uppercase;
	display: block;
}

div {
	color: blueviolet;
	width: 100%;
	background-color: grey;
} */

/* h2 {
	font-size: 24px;
}

#content-header {
	font-size: 20px;
	color: gold;
}

.deck {
	text-transform: uppercase;
	color: aqua;
}

.test {
	color: green;
}

li{
    text-decoration: line-through;
    color: silver;
    font-size: 16px;
} */

/* li:first-child{
    color:red;
}

li:last-child{
    color:blue;
}

.box{
    margin: 30px auto;
    padding: 30px;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    background-color: yellow;
}

#circle{
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: lime;
    border-radius: 200px;
    top: 50px;
    left: 50px;
    opacity:1;
}

#circle-2{
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: rgb(255, 0, 128);
    border-radius: 200px;
    top: 250px;
    left: 150px;
}

#circle-3{
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: rgb(84, 174, 226);
    border-radius: 200px;
    top: 50px;
    left: 250px;
    opacity: 0.7;
}

.button{
    display: block;
    width: 100px;
    padding: 12px;
    border: 1px solid black;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background: rgb(207, 49, 49);
    background: linear-gradient(top, #aadddd 0%, #77aaaa 100%);
} */

* {
	margin: 0;
}

body {
	background-color: #eee;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

nav {
    margin: 5px;
	background-color: #333;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav a {
	text-decoration: none;
	text-align: center;
	padding: 10px;
	color: #fff;
	display: block;
    transition: color 0.3s;
}

nav a:hover {
    background-color: #555;
    color: royalblue;
}

@media screen and (min-width: 760px){

        nav ul {
            display: flex;
            
        }

        nav li{
            flex:1 1 0;
        }
        nav {
            display: flex;
            justify-content: space-between;
        } 

        .social {
            font-size: 24px;
        }
}
/* .wrapper{
    width: 100%;
    min-width: 960px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: grey;
    flex-wrap: wrap;
}

.box {
    height: 100px;
    min-width: 100px;
    
} */

/* .one {
    background: red;
    flex-grow: 1;
}
.two {
    background: greenyellow;
    flex-shrink: 1;
}
.three {
    background: royalblue;
} */
