/* #header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
} */

#header h1 {
	font-size: 32px;
}

.welcome {
	font-size: 14px;
	color: red;
}

p {
	font-size: 12px;
	color: blue;
}

a{
    text-decoration: underline;
    color: lime;
}

span {
    text-transform: uppercase;
}

div {
    width: 100%;
    background-color: grey;
}
